@charset "UTF-8";
.menu, .contacts, .features__list, .photos__list, .team__list, .social, .clients__list, .networks__list, .filters, .portfolio {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.btn {
  min-width: 200px;
  height: 50px;
  border: 0px solid transparent;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn:hover:enabled, .btn:focus:enabled {
  transform: scale(0.93);
  color: #2196f3;
  background-color: #ffffff;
}

.btn:disabled {
  background-color: gray;
}

.header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__text {
  color: #2196f3;
}

.header__logo {
  margin-right: 93px;
  color: #212121;
}

.menu {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

.menu__link--current {
  color: #2196f3;
}

.menu__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  --color5: $accent-color;
  color: #2196f3;
}

.contacts__icon {
  display: flex;
  align-items: center;
}

.contacts__mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts__phone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.hero {
  display: flex;
  align-items: center;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__content {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  padding: 10px 32px;
}

.features {
  padding-top: 94px;
}

.features__list {
  display: flex;
}

.features__item {
  width: calc((100% - 90px) / 4);
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__img {
  margin-bottom: 30px;
  padding: 20px 100px;
  background-color: #f5f4fa;
  text-align: center;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
}

.photos__list {
  display: flex;
}

.photos__item {
  width: calc((100% - 60px) / 3);
  background-color: #757575;
}

.photos__item:not(:last-child) {
  margin-right: 30px;
}

.photos__thumb {
  position: relative;
}

.photos__text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 370px;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
}

.team__item {
  width: calc((100% - 90px) / 4);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__content {
  padding: 30px 32px;
  text-align: center;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

.media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover, .media-link:focus {
  --color6: #ffffff;
  background-color: #2196f3;
}

.media-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__item {
  width: calc((100% - 30px * 5) / 6);
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__item .clients-item .clients-link:hover,
.clients__item .clients-item .clients-link:focus {
  color: var(--accent-color);
  --color6: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__item .clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
}

.clients__item .clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__item .clients__icon,
.clients__link:focus .clients__item .clients__icon {
  fill: #2196f3;
}

.clients__item:hover, .clients__item:focus {
  border-color: #2196f3;
  --color6:$accent-color;
}

.clients__link:hover,
.clients__link:focus {
  color: #2196f3;
  --color6: $accent-color;
  border-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding: 60px 60px;
  background-color: #2f303a;
  color: #ffffff;
}

.footer-blocks {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.address-block {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Контакты в футере */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.adress {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.adress__map {
  margin-top: 0;
  margin-bottom: 9px;
}

.adress__link {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link:last-child {
  margin-bottom: 0;
}

.adress__link:hover, .adress__link:focus {
  color: #2196f3;
}

.networks {
  margin-right: 93px;
}

.networks__title {
  display: inline-block;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;
}

.networks__icon {
  --color6: #ffffff;
}

.networks__list {
  display: flex;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}

.networks__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.networks-icon {
  --color6: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__link:hover .networks__icon,
.networks__link:focus .networks__icon {
  fill: #f5f4fa;
}

.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.subscribe__text {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__field {
  margin-right: 12px;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
}

.subscribe-form__icon {
  fill: #ffffff;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: auto;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}

.modal__close-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: #2196f3;
}

.callback-form {
  width: 100%;
  padding: 40px;
}

.callback__title {
  display: inline-block;
  margin-bottom: 12px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.callback__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.callback__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.callback__area {
  position: relative;
}

.callback__input {
  width: 100%;
  padding: 11px 11px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.callback__input:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}

.callback__input:not(:placeholder-shown):focus:valid {
  color: #2196f3;
  border-color: #2196f3;
}

.callback__input:not(:placeholder-shown):focus:invalid {
  color: #2196f3;
  border-color: #2196f3;
}

.callback__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__area:focus-within .callback__icon {
  fill: #2196f3;
}

.callback__commit {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.callback__textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  cursor: pointer;
}

.callback__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback__textarea:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}

.policy-block {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
}

.policy__icon::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  vertical-align: middle;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .policy__icon::before {
  vertical-align: middle;
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../images/icons.svg#icon-check");
  background-size: contain;
  background-origin: border-box;
}

.policy__link {
  color: #2196f3;
}

.btn-block {
  text-align: center;
}

.callback__btn {
  padding: 10px 55px;
}

.callback__area:hover,
.callback__area:focus {
  border-color: #2196f3;
}

.callback__area:hover,
.callback__area:focus {
  fill: #2196f3;
}

.calllback__area:hover input,
.callback-area:focus-within input {
  border-color: #2196f3;
}

.portfolio-section {
  padding: 94px 0;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__btn {
  display: inline-block;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px solid transparent;
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__btn:hover, .filters__btn:focus {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  cursor: pointer;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link {
  text-decoration: none;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__tooltip {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 100%);
  width: 370px;
  height: 294px;
  margin: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.portfolio__link:hover .portfolio__tooltip,
.portfolio__link:focus .portfolio__tooltip {
  transform: translateY(0);
  opacity: 1;
}

.portfolio__content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  margin: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */