// Секция "Постоянные клиенты"

.clients__list {
  @extend %list;
  display: flex;
  justify-content: center;
}

.clients__item {
  width: calc((100% - 30px * 5) / 6);
  height: 90px;
  border: 1px solid $svg-color;
  border-radius: 4px;

  transition: border-color $transition-duration $timing-function;

  &:not(:last-child) {
    margin-right: 30px;
  }

  

.clients-item .clients-link:hover,
.clients-item .clients-link:focus {
  color: var(--accent-color);
  --color6: var(--accent-color);
  border-color: var(--accent-color);
}


.clients__link {
  @include flexbox(center, center);
  // display: flex;
  // justify-content: center;
  // align-items: center;

  width: 170px;
  height: 90px;
}

.clients__icon {
  fill: $svg-color;

  transition: fill $transition-duration $timing-function;

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-color;
  }
}
&:hover,
&:focus {
  border-color: $accent-color;
  --color6:$accent-color;
}
}

 .clients__link:hover,
.clients__link:focus {
color: $accent-color;
--color6: $accent-color;
border-color: $accent-color;
transition: $transition-duration $timing-function;
}