// Соц сети в футере

.networks {
  margin-right: 93px;
}

// заглавие блока

.networks__title {
  display: inline-block;

  margin-bottom: 20px;

  line-height: 1.14;
  text-transform: uppercase;
}


.networks__icon {

  --color6: #ffffff;
} 

// Список социальных сетей

.networks__list {
  @extend %list;
  display: flex;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}



// Ссылки на социальные сети сайта

.networks__link {
  background-color: rgba(255, 255, 255, 0.1);
}

// Иконки социальных сетей

.networks-icon {
  --color6: #ffffff;

  transition: fill $transition-duration $timing-function;	
}

.networks__icon {
  .networks__link:hover &,
  .networks__link:focus & {
    fill: $additional-background-color;
  }
}
